strong {
  font-weight: 400;
}

.about .container {
  justify-content: space-around;
  align-items: center;
}

.text-description {
  width: 50vw;
}

.resume {
  padding-top: 1rem;
  text-align: center;
}

@media screen and (max-width: 960px) {
  .container {
    flex-direction: column;
    padding-top: 5vw;
    padding-bottom: 5vw;
  }

  .text-description {
    width: 80vw;
    padding-top: 5vw;
    text-align: center;
  }
}
