.hidden {
  opacity:0;
}

.console-container {
  font-family:Khula;
  font-size:10vw;
  text-align:center;
  height:40vh;
  width:95vw;
  display:block;
  position:absolute;
  color:white;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
}
.console-underscore {
  display:inline-block;
  position:relative;
  left:10px;
}
