h3 {
  font-size: 4vw;
}

p {
  font-size: 16px;
  color: #CBCBCB;
}

.project-card {
  margin: auto;
}

.card-holder {
  padding: 0.5rem;
  padding-bottom: 1rem;
  margin: 1rem;
  max-width: 50vw;
  background: #232526;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 5px;
  box-shadow: 3px 3px 5px 0px #656565;
}

.card-title {
  display: flex;
  justify-content: space-between;
}

.script-bf-box {
  will-change: transform;
}

.script-bf-box:hover {
  background: hotpink;
}

.stacks {
  display: flex;
}

.logo {
  margin-right: 0.5rem;
  width: 3vw;
  height: 3vw;
  -webkit-animation-duration: 1s;
  animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

.logo:hover {
  animation-name: bounce;
  -moz-animation-name: bounce;
}

@keyframes bounce {
  0%   { transform: scale(1,1)      translateY(0); }
  10%  { transform: scale(1.1,.9)   translateY(0); }
  30%  { transform: scale(.9,1.1)   translateY(-30px); }
  50%  { transform: scale(1.05,.95) translateY(0); }
  57%  { transform: scale(1,1)      translateY(-7px); }
  64%  { transform: scale(1,1)      translateY(0); }
  100% { transform: scale(1,1)      translateY(0); }
}

.ruby {
  background-image: url('../assets/ruby.svg');

}

.javascript {
  background-image: url('../assets/javascript.svg');
}

.react {
  background-image: url('../assets/react.svg');
}

.rubyonrails {
  background-image: url('../assets/rubyonrails.svg');
}

.node-dot-js {
  background-image: url('../assets/node-dot-js.svg');
}

.html5 {
  background-image: url('../assets/html5.svg');
}

.css3 {
  background-image: url('../assets/css3.svg');
}

.heroku {
  background-image: url('../assets/heroku.svg');
}

.card-footer {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

.button-project {
  padding-top: 1rem;
  margin-right: 2vw;
}

@media screen and (max-width: 960px) {

  p {
    font-size: 12px;
  }
  .card-holder {
    width:  80vw;
    height: fit-content;
    text-align: center;
  }
}
